.btn {
  border: none;
  padding: 12px 24px;
  color: var(--black-color);
  border-radius: 6px;

  &--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}
