@use "../utilities/index" as *;
.care {
  position: relative;
  padding: var(--sm);

  &__left {
    display: flex;
    flex-direction: column-reverse;
    gap: 42px;

    img {
      box-shadow: 1px 1px 24px rgb(0 0 0 / 5%);
      height: 450px;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 4px;

      @include md {
        margin: 0;
        margin-right: auto;
        height: unset;
      }
    }

    @include sm {
      flex-direction: row-reverse;
    }
  }

  &__right {
    padding: 42px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;

    @include sm {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 50px 0px 0px 0px;
    }
    @include lg {
      flex-direction: column;
      padding: 0;
      gap: 42px;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;

    &-description {
      @include bodyS();
      color: var(--black-color);
    }

    &-box {
      width: calc(100% - 54px);
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      border: 4px solid var(--lighter-secondary-color);
      border-radius: 50%;
    }

    &-title {
      @include heading5();
      color: var(--lighter-black-color);
      margin-bottom: 8px;

      @include lg {
        @include heading4();
      }
    }

    @include sm {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: calc(50% - 16px);
      gap: 12px;
    }
    @include lg {
      flex-direction: row;
      width: unset;
      gap: 24px;
    }
    // @include xl {
    //   gap: 36px;
    // }
  }

  &__content {
    background-color: var(--white-color);

    &-text {
      @include bodyL();
      color: var(--black-color);
      margin-bottom: 24px;
    }

    @include sm {
      position: absolute;
      padding: 42px;
      left: 50%;
      top: -12px;
      // transform: translateX(-50%);
      transform: translate(-50%, -12px);
      width: 90%;
      max-width: 600px;
      border: 8px solid #91abbf;
    }
    @include md {
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 58px 42px;
    }
    @include xl {
      left: 80px;
      transform: translate(80px, -50%);
    }
    @include xxl {
      left: 130px;
      transform: translate(130px, -50%);
    }
  }

  &-btn {
    @include xl {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
    }
  }
  @include md {
    padding: var(--md);
  }
  @include lg {
    padding: var(--lg);
  }
}
