@use "../utilities/index" as *;
.prices {
  position: relative;
  padding: var(--sm);

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 42px;
    @include xl {
      margin-bottom: 62px;
    }

    .heading {
      margin-bottom: 14px;
    }
  }

  &__phone {
    @include heading3();
    color: var(--primary-color);
    text-decoration: none;
  }

  &__box {
    margin-bottom: 24px;
    &:last-of-type {
      margin: 0;
    }
  }

  &__table {
    max-width: 900px;
    margin: 0 auto;
  }

  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(24px, 50px);
    padding: 18px 12px;

    @include sm {
      grid-template-columns: 1fr minmax(24px, 80px);
    }
    @include lg {
      grid-template-columns: 1fr minmax(24px, 150px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 70px;
      //   right: 190px;
      width: 2px;
      background-color: #f5f5f5;

      @include sm {
        right: 110px;
      }
      @include lg {
        right: 190px;
      }
    }

    &--heading {
      @include heading6();
      background-color: var(--primary-color);
      color: white;
    }
    &--offert {
      background-color: #f5f5f5;
      color: var(--lighter-black-color);
      align-items: center;

      &:nth-of-type(odd) {
        background-color: #ededed;
        color: var(--primary-color);
      }
    }

    &-name {
      @include bodyL();
    }

    h3 {
      padding-right: 18px;
    }
  }

  @include md {
    padding: var(--md);
  }
  @include lg {
    padding: var(--lg);
  }
}
